<div class="col-md-10">
  			<div class="content-box-large">
  				<div class="panel-heading">
					<div class="panel-title">Users</div>
				</div>
  				<div class="panel-body">
				  <%= button_to 'Add New', "/admin/users/new" , method: :get,  class: "btn btn-primary btn-xs"%>
				  <br></br>
  					<div class="table-responsive">
  						<table class="table">
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Email</th>
									<th>Birthday</th>
									<th>Height</th>
									<th>Weight</th>
									<th></th>
									<th></th>
								</tr>
								<% id = 1 %>
								<% @users.each { |user| %>
								<tr>
									<td><%= id %></td>
									<td><%= user.name %></td>
									<td><%= user.email %></td>
									<td><%= user.birthday %></td>
									<td><%= user.height %></td>
									<td><%= user.weight %></td>
								<td><%= button_to 'Edit', "/admin/users/edit" , method: :get, params: { id: user.id },  class: "btn btn-primary btn-xs"%></td>
    							<td><%= button_to 'Delete', "/admin/users/destroy" , method: :delete, params: { id: user.id }, class: "btn btn-danger btn-xs" %></td>
								</tr>
								<% id += 1 %>
								<% } %>
							</table>
  					</div>
  				</div>
  			</div>
		  </div>
		</div>